.logo{
    height: 100px;
    width: 100px;
}
.b{
    height:40px;
    border-radius: 5px;
    background-color: white;
}
.nav-link{
    color: white;
}
swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      /*background: #444;*/
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .im{
        height:35px;
    }
    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
     /* background: #444;*/
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
     .ig{
        max-height:100%;
    } 
    .s{
      box-shadow: 5px 5px 10px rgb(245, 242, 242);
    }
    .box{
      height: 400px;
      max-width: 400px;
      border:1px  solid;
      
    }
    .chief{
      height:400px;
      width: 400px;
    }
    .eve{
      height: 80px;
      width: 80px;
      border:3px solid white;
      /*background-color: red;*/
      margin-left: 125px;
      margin-top: 50px;
      border-radius: 5px;

    }
    .text{
      margin-left: 80px;
      color: white;
    }
    .d{
      height: 80px;
      width: 80px;
      border:3px solid white;
      /*background-color: white;*/
      margin-left: 40px;
      margin-top: 20px;
      border-radius: 5px;
    }
    .fa-solid{
      text-align: center;
      font-size: 50px;
      color: white;
      margin-top: 15px;
      margin-left: 5px;
    }
    .au{
      background-image: url('../images/abo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }